.img_earth {
    height: 35%;
    width: 35%;
    margin: 0 auto;
}

.down-btn {
    height: 110%;
    display: block;
    border-radius: 10px;
    border: 1px solid rgb(121, 245, 245);
    background-color: rgb(154, 241, 180);
    width: 8em;
    margin: 0 auto;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.616);
}