p {
    color: black;
}

.blockout {
    height: 6em;
}

.blockout05 {
    height: 3em;
}

#css_div_perf {
    color: chocolate;
}

.resourses {
    background-color: mediumspringgreen;
    font-style: normal;
}

em {
    display: block;
}