a:link {
    color: rgb(212, 147, 147);
    text-decoration: none;
}
a:visited {
    color: rgb(255, 0, 0);
    text-decoration: line-through ;
}
a:hover {
    color: skyblue;
}
a:active {
    color: snow;
    text-decoration: underline;
}